#graphpanel {
    border: solid black thin;
}

table {
    border: 1px solid black;
}

.tBButton {
    opacity: 1;
    float: left;
}

#property-container {
    border-right: 1px solid #000;
    padding: 10px;
}

#property-container p {
    display: inline;
    margin-right: 25px;
}

#property-container input {
    display: inline;
    width: 150px;
    height: 18px;
    float: right;
}

#nodeContainer th {
    padding: 10px;
}

#nodeContainer td {
    border-top: 1px solid;
}

#toolbar-container {
    border: none;
}

#note-property-container {
    padding: 10px;
    border-right: 1px solid #000;
}

#note-property-container p {
    display: inline;
    margin-right: 25px;
}

#note-property-container input {
    display: inline;
    width: 150px;
    height: 18px;
    float: right;
}

#interface-property-container {
    padding: 10px;
}

#interface-property-container p {
    display: inline;
    margin-right: 25px;
}

#interface-property-container input {
    display: inline;
    width: 150px;
    height: 18px;
    float: right;
}

