#graphpanel {
    border: solid black thin;
}

table {
    border: 1px solid black;
}

.tBButton {
    opacity: 1;
    float: left;
}

#property-container p {
    display: inline;
  	margin-right: 25px;
}

#property-container input {
    display: inline;
    width: 100px;
    height: 18px;
    float: right;
}

#nodeContainer th {
	padding: 10px;
}

#nodeContainer td {
	border-top: 1px solid;
}