body {
   margin: 0;
   padding: 0;
}

#graphpanel {
   border: solid black thin;
   position: relative;
   width: 100vw;
   height: 400px;
}

.tBButton {
   opacity: 1;
   float: left;
}

.tBButton-on {
   opacity: 1;
   background-color: orange;
   float: left;
}

#property-container p {
	display: inline;
}
#property-container input {
	display: inline;
	width: 200px;
}
